/*******************************************
                            GOOGLE FONT LINK
https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans 

COLOR PALETTE
#6D797D [light gray - for text]
#4d4743 [Dark gray/black - for headers]
#005F7F [Dark turquise/blue - for header bar] rgb(0,95,127)
#4CD1FF [Lightest blue - for hover nav bar]
#0098CC [Darkish blue - for button]
#00BEFF [Light blue - for hover button or link]

*******************************************/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Work+Sans');
@font-face { font-family: 'Socialico'; src: url('../fonts/Socialico.otf'); }
@font-face { font-family: 'Socialico Plus'; src: url('../fonts/Socialico Plus.otf'); }

/*******************************************
                                    GLOBAL
*******************************************/

html, body { 
    height: 100%;
}

* {
    font-family: 'Work Sans', sans-serif; /* Universal font of page */
    font-weight: 400;
    border-radius: 0 !important; /* remove bootstrap borders */

    -webkit-box-sizing: border-box; /* Isotope */
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h3, .button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    color: #444954;
    margin-bottom: 20px;
}

h4 {
    font-size: 18px;
    color: #444954;
    margin-bottom: 20px;
    font-weight: 700;
}

p {
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

a {
    text-decoration: none;
}

@media(min-width: 768px) {
    p {font-size: 18px;}
    h3 {font-size: 32px;}
    h4 {font-size: 20px;}
    .container {padding: 0;}
}

.col-sm-4, .col-md-4, .col-md-8, .col-sm-6, .col-md-6, .col-xs-8, .col-xs-offset-2 {
    padding: 0;
}

.img-circle {
    border-radius: 50% !important;
}

.sep-line {
    width: 40px;
    height: 4px;
    background-color: #F05D5E;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    font-size: 18px;
    color: #F6F7EB;
    background-color: transparent;
    border-style: none;
    border-style: solid;
    border-color: #F6F7EB;
    margin-top: 10px;
    padding: 4px 10px;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.button:hover,
.button:focus {
    border-color: #F05D5E;
    color: #F05D5E;
}

@media(max-width: 767px) {
    .button {
        font-size: 16px;
        margin-top: 20px;
    }
}

/******************************************* 
                              NAVIGATION BAR 
*******************************************/

.navbar {
    z-index: 10;
    background-color: #292c31;
    margin: 0;
    overflow: hidden;
    border: none;
}

@media(min-width: 768px) {
    .navbar {
        background-color: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-background {
        background-color: #292c31;
    }
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #3e434a;
}

.navbar li a {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.nav a, .navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white !important;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

#brand-icon {
    width: 30px;
}

/******************************************* 
                                        HERO 
*******************************************/
.hero {
    height: 100%;
    width: 100%;
    background-color: #292c31;
}

@media(min-width:768px) {
    .hero {
        background: url("../Images/website_hero-final.jpg") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
    }
}

.hero {
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.hero-description h1 {
    font-size: 30px;
}
.hero-description p {
    font-weight: 400;
    font-size: 18px;
    color: #d7d7d7;
}
@media(min-width: 768px) {
    .hero-description h1 {
        font-size: 50px;
    }
    .hero-description p {
        font-size: 24px;
    }
}


/******************************************* 
                            ABOUT ME SECTION 
*******************************************/

.pinterest {
    color: #bd081c;
}

.about {
    margin-top: 20%;
    margin-bottom: 15%;
}

@media(min-width: 768px) {
    .about {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.about-pic img {
    width: 60%;
}

@media(min-width: 768px) {
    .about-pic img {width: 50%;}
}

.about p a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: #344F68;
}
.about p a:hover {
    color: #F05D5E;
}

.hide-mobile {
    display: none;
    font-family: 'Lato', 'Helvetica Neue';
    font-weight: 300;
}

@media(min-width: 768px) {
    .hide-mobile {
        display: inline-block;
        font-size: 18px;
    }
}

.list-contact {
    padding: 0px;
}
.list-contact li {
    display: inline;
    list-style-type: none;
    margin-right: 5px;
    margin-left: 5px;
}
.list-contact a {
    text-decoration: none;
    color: #292c31;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.list-contact a:hover,
.list-contact a:focus {
    color: #F05D5E;
}

.list-contact .pinterest:hover,
.list-contact .pinterest:focus {
    color: #bd081c;
}

.socialico {
        font-family: 'Socialico';
        font-size: 35px;
    }
    .socialico-plus {
        font-family: 'Socialico Plus';
        font-size: 35px;
    }

@media(min-width: 768px) {
    .socialico {font-size: 44px;}
    .socialico-plus {font-size: 44px;}
}

/******************************************* 
                         RECENT WORK SECTION 
*******************************************/
.recentwork-section {
    padding-top: 50px;
    padding-bottom: 50px;
    /*background-color: #303030;*/
    background-color: #292c31;
}

.recentwork-section h3 {
    color: #F6F7EB;
}

@media(min-width: 768px) {
    .recentwork-section {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

.recentwork-section .container {
    padding: 0;
}

@media(min-width: 768px) {
    .recentwork-section .container {
        width: 646px;
    }
    .recentwork-section .container .grid {
        width: 676px;
    }
    .scale {
        height: 465px;
        width: 318px;
    }
    .grid-item-long .scale {
        width: 646px;
    }

}
@media(min-width: 1170px) {
    .recentwork-section .container {
        width: 1150px;
    }
    .recentwork-section .container .grid {
        width: 1180px;
    }
    .scale {
        height: 410px;
        width: 280px;
    }
    .grid-item-long .scale {
        width: 570px;
    }
}
@media(min-width:1312px) {
    .recentwork-section .container {
        width: 1302px;
    }
    .recentwork-section .container .grid {
        width: 1332px;
    }
    .scale {
        height: 465px;
        width: 318px;
    }
    .grid-item-long .scale {
        width: 646px;
    }
}

@media(max-width:767px) {
    .recentwork-section .col-xs-12 {
        padding: 0;
    }
    .recentwork-section .container .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Carousel */
    .carousel-cell {
        width: 77%;
        margin-right: 10px;
    }
}

.flickity-slider {
  display: flex;
  align-items: center;
}


/******************************************* 
                                       LEGAL 
*******************************************/

.footer {
    margin-top: 5%;
    margin-bottom: 5%;
}

.copyright-text {
    text-align: center;
    color: #88979C;
    font-size: 14px;
}

@media(max-width:767px) {
    .copyright-text {
        font-size: 11px;
    }
}
