@import "../styles/variables";

.blogNavigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: ($space - 5) 0 0 0; // adjusting for 5px gallery margin
    padding: 0;
}

.content {
    max-width: 700px;

    &>p:first-child {
        margin-top: 0;
    }

    &>p:last-child {
        margin-bottom: 0;
    }
}

.contentSection {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-med;
}

.header {
    margin-bottom: 24px;
}