@import "../styles/variables";

$content-spacing: 24px;

.backLinkNavigation {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.blogNavigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: ($space - 5) 0 0 0; // adjusting for 5px gallery margin
    padding: 0;
}

.content {
    // max-width: 700px;

    &>p:first-child {
        margin-top: 0;
    }

    &>p:last-child {
        margin-bottom: 0;
    }
}

.contentSection {
    display: grid;
    grid-template-columns: fit-content(700px) 1fr;
    margin-bottom: $space-med;

    @media screen and (max-width: $screen-mobile) {
        grid-template-columns: 1fr;
        row-gap: $content-spacing;
        margin-bottom: $space;
    }
}

.header {
    margin-bottom: $content-spacing;
}