@import "../../styles/colors";
@import "../../styles/image";
@import '../../styles/variables';

.filter {
    border: none;
    border-bottom: 2px solid rgba($blue, 0);
    margin-right: $space-small;
    padding: 0;
    text-transform: capitalize;

    &:hover {
        color: $blue;
    }
}

.filterActive {
    border-color: $blue;
}

.filters {
    margin-bottom: $space-small;
}