$mobile-large: 1024; // tablet and lower
$mobile-medium: 768; // small tablet and lower
$mobile-small: 400; // smartphone and lower
$desktop: 1025; // and greater
$screen-mobile-large: $mobile-large + 0px;
$screen-mobile-medium: $mobile-medium + 0px;
$screen-mobile-small: $mobile-small + 0px;
$screen-desktop: $desktop + 0px;

$space: 16px;
$space-small: $space / 2;
$space-med: $space * 2;
$space-large: $space * 2.5;
$space-x-large: $space * 3;
$space-xx-large: $space * 4;

$transition-time: .17s;
$transition-time-fast: .1s;