$space: 16px;
$space-small: $space / 2;
$space-med: $space * 2;
$space-large: $space * 2.5;
$space-x-large: $space * 3;
$space-xx-large: $space * 4;

$transition-time: .17s;
$transition-time-fast: .1s;