$mobile: 1024; // and lower
$mobile-small: 400; // and lower
$desktop: 1025; // and greater
$screen-mobile: $mobile + 0px;
$screen-mobile-small: $mobile-small + 0px;
$screen-desktop: $desktop + 0px;

$space: 16px;
$space-small: $space / 2;
$space-med: $space * 2;
$space-large: $space * 2.5;
$space-x-large: $space * 3;
$space-xx-large: $space * 4;

$transition-time: .17s;
$transition-time-fast: .1s;