@import "../../styles/colors";
@import '../../styles/variables';

$picture-offset: 30px;

.aboutMe {
    margin-bottom: 40px;
}

.aboutWrapper {
    max-width: 500px;
}

.column {
    // split on different rows on small screens
    // flex-basis: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 1000px) {
        // columns on same row
        flex: 1;

        &:first-child {
            margin-right: 30px;
        }
        &:last-child {
            margin-left: 30px;
        }
    }
}

.dot {
    opacity: 0;
    margin-left: 10px;
    transition: opacity $transition-time linear;
}

.header {
    margin-bottom: 20px;
}

.headerLine {
    background-color: $blue;
    height: 4px;
    width: 200px;
}

.link {
    align-items: center;
    display: flex;

    &:hover>.dot {
        opacity: 1;
    }
}

.linkContainer {
    align-items: center;
    display: flex;

    &:hover>.dot {
        opacity: 1;
    }
}

.links {
    display: inline-flex;
    flex-direction: column;

    &>* {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.square {
    background-color: $dark-blue;
    height: 300px;
    margin: 0 $picture-offset $picture-offset 0;
    width: 300px;
}

.pictureWrapper {
    display: flex;
    justify-content: flex-end;
}

.profilePicture {
    left: $picture-offset;
    top: $picture-offset;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-top: 70px;
}