@import "../../styles/colors";
@import '../../styles/variables';

$picture-offset: 30px;

.aboutMe {
    margin-bottom: $space-med;
}

.aboutSection {
    max-width: 500px;

    @media screen and (min-width: $screen-desktop) {
        padding-right: $space-large;
    }
}

.aboutWrapper {
    display: flex;

    @media screen and (max-width: $screen-mobile-large) {
        justify-content: center;
    }
}

.dot {
    opacity: 0;
    margin-left: 10px;
    transition: opacity $transition-time linear;
}

.header {
    margin-bottom: $space;
}

.headerLine {
    background-color: $blue;
    height: 4px;
    width: 200px;
}

.link {
    align-items: center;
    display: flex;

    &:hover>.dot {
        opacity: 1;
    }
}

.linkContainer {
    align-items: center;
    display: flex;

    &:hover>.dot {
        opacity: 1;
    }
}

.links {
    display: inline-flex;
    flex-direction: column;

    &>* {
        margin-bottom: $space-small;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.square {
    background-color: $dark-blue;
    height: 300px;
    margin: 0 $picture-offset $picture-offset 0;
    width: 300px;

    @media screen and (max-width: $screen-mobile-small) {
        background-color: transparent;
        height: auto;
        margin: 0;
        width: auto;
    }
}

.pictureWrapper {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $screen-desktop) {
        justify-content: flex-end;
    }
}

.profilePicture {
    left: $picture-offset;
    top: $picture-offset;

    @media screen and (max-width: $screen-mobile-small) {
        left: 0;
        top: 0;
    }
}

.wrapper {
    display: grid;
    column-gap: $space-xx-large;
    grid-template-columns: 1fr 1fr;
    margin-top: $space-xx-large;
    margin-bottom: $space-med;

    @media screen and (max-width: $screen-mobile-large) {
        grid-template-columns: 1fr;
        margin-top: $space-med;
        row-gap: $space-med;
    }

    @media screen and (max-width: $screen-mobile-small) {
        margin-top: 0;
        margin-bottom: $space;
    }
}