@import "../../styles/colors";
@import "../../styles/variables";

%_border {
    height: 50px;
    margin-right: 4px;
    position: relative;
    top: 4px;
    width: 4px;
}

.borderBlue {
    @extend %_border;

    background-color: $light-blue;
}

.borderGreen {
    @extend %_border;

    background-color: $light-green;
}

.borderRed {
    @extend %_border;

    background-color: $light-red;
}

.description {
    max-width: 700px;
}

.header {
    margin-bottom: $space-med;
}

.title {
    display: flex;
    margin-bottom: $space;
}