@import "../../styles/colors";
@import "../../styles/variables";

.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// colors for lightbox
$white-faded: rgba($white, .95);

:export {
    black: $black;
    white_faded: $white-faded;
    screen_mobile_small: $mobile-small;
}