@import "../../styles/colors";
@import '../../styles/variables';

%_link {
    border-bottom: 2px solid rgba($blue, 0);
    padding: 1px 0;
    transition: color $transition-time linear, border-color $transition-time-fast linear;
}

.logo {
    display: block;
    width: 30px;
}

.navigation {
    display: flex;
    font-family: Inter;
    font-weight: 700;
}

.navigationLink {
    @extend %_link;
}

.navigationLinkWrapper {
    padding: 0 6px;
}

.navigationSubNav {
    padding: 1px 0;
    position: relative;

    &:hover .navigationLink {
        border-color: rgba($blue, 0);
    }

    &:hover .navigationSubNavLinks {
        opacity: 1;
        pointer-events: auto;
    }
}

.navigationSubNavCard {
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 rgba($black, .1);
    padding: 6px;
}

.navigationSubNavLink {
    @extend %_link;

    display: inline-block;
    margin-bottom: 6px;

    &:last-child {
        margin-bottom: 0;
    }
}

.navigationSubNavLinks {
    opacity: 0;
    padding-top: 6px;
    pointer-events: none;
    position: absolute;
    transition: opacity $transition-time linear;
    z-index: 1;
}

.wrapper {
    align-items: center;
    display: flex;
    height: 66px;
    justify-content: space-between;
    margin-bottom: $space-x-large;
}

// @bottom for CSS specificity (tiering)
.active {
    border-color: $blue;
}